@use "variables" as *;
@use "mixins" as *;
header {
  .container {
    @include screenSize() {
      width: 60%;
    }
    @include screenSize(800px) {
      width: 50%;
    }
    @include screenSize(900px) {
      width: 45%;
    }
  }
}
main {
  @include screenSize() {
    width: 60%;
  }
  @include screenSize(700px) {
    width: 50%;
  }
  @include screenSize(900px) {
    width: 45%;
  }
  @include screenHeight(950px) {
    padding-bottom: 30%;
  }
  @include screenHeight(800px) {
    padding-bottom: 35%;
  }
}
.choices {
  @include screenSize(850px) {
    position: initial;
    width: 40%;
    padding: 0;
    box-shadow: none;
  }
  @include screenSize(920px) {
    width: 35%;
  }
}
.drag-instruction {
  @include screenSize(850px) {
    position: initial;

    margin-top: 2.5rem;
    text-align: center;
    bottom: 0;
    left: initial;
    transform: translate(0);
  }
}
