//primary colors
$brightBlue:hsl(220, 98%, 61%);
$checkBackground:linear-gradient($brightBlue, hsl(280, 87%, 65%)); 
$white:hsl(100%,100%,100%);
// light theme colors
$lightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);
//dark theme colors
$veryDarkBlue: hsl(235, 21%, 11%);
$darkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue-1: hsl(234, 39%, 85%);
$lightGrayishBlue-2 : hsl(236, 33%, 92%);//hover color
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlue-1: hsl(233, 14%, 35%);
$veryDarkGrayishBlue-2: hsl(237, 14%, 26%);//possibly hover color

